[submodule "bin"]
	path = bin
	url = git@github.com:nasa-cmr/cli.git
[submodule "collection-renderer-lib"]
	path = collection-renderer-lib
	url = git@github.com:nasa-cmr/collection-renderer-lib.git
[submodule "orbits-lib"]
	path = orbits-lib
	url = git@github.com:nasa-cmr/orbits-lib.git
[submodule "oracle-lib"]
	path = oracle-lib
	url = git@github.com:nasa-cmr/oracle-lib.git
[submodule "elastic-utils-lib"]
	path = elastic-utils-lib
	url = git@github.com:nasa-cmr/elastic-utils-lib.git
[submodule "common-app-lib"]
	path = common-app-lib
	url = git@github.com:nasa-cmr/common-app-lib.git
[submodule "message-queue-lib"]
	path = message-queue-lib
	url = git@github.com:nasa-cmr/message-queue-lib.git
[submodule "acl-lib"]
	path = acl-lib
	url = git@github.com:nasa-cmr/acl-lib.git
[submodule "spatial-lib"]
	path = spatial-lib
	url = git@github.com:nasa-cmr/spatial-lib.git
[submodule "umm-spec-lib"]
	path = umm-spec-lib
	url = git@github.com:nasa-cmr/umm-spec-lib.git
[submodule "common-lib"]
	path = common-lib
	url = git@github.com:nasa-cmr/common-lib.git
[submodule "transmit-lib"]
	path = transmit-lib
	url = git@github.com:nasa-cmr/transmit-lib.git
[submodule "umm-lib"]
	path = umm-lib
	url = git@github.com:nasa-cmr/umm-lib.git
[submodule "index-set-app"]
	path = index-set-app
	url = git@github.com:nasa-cmr/index-set.git
[submodule "mock-echo-app"]
	path = mock-echo-app
	url = git@github.com:nasa-cmr/mock-echo.git
[submodule "cubby-app"]
	path = cubby-app
	url = git@github.com:nasa-cmr/cubby.git
[submodule "metadata-db-app"]
	path = metadata-db-app
	url = git@github.com:nasa-cmr/metadata-db.git
[submodule "indexer-app"]
	path = indexer-app
	url = git@github.com:nasa-cmr/indexer.git
[submodule "virtual-product-app"]
	path = virtual-product-app
	url = git@github.com:nasa-cmr/virtual-product.git
[submodule "access-control-app"]
	path = access-control-app
	url = git@github.com:nasa-cmr/access-control.git
[submodule "ingest-app"]
	path = ingest-app
	url = git@github.com:nasa-cmr/ingest.git
[submodule "bootstrap-app"]
	path = bootstrap-app
	url = git@github.com:nasa-cmr/bootstrap.git
[submodule "search-app"]
	path = search-app
	url = git@github.com:nasa-cmr/search.git
[submodule "es-spatial-plugin"]
	path = es-spatial-plugin
	url = git@github.com:nasa-cmr/es-spatial-plugin.git
[submodule "vdd-spatial-viz"]
	path = vdd-spatial-viz
	url = git@github.com:nasa-cmr/vdd-spatial-viz.git
[submodule "dev-system"]
	path = dev-system
	url = git@github.com:nasa-cmr/dev-system.git
[submodule "search-relevancy-test"]
	path = search-relevancy-test
	url = git@github.com:nasa-cmr/search-relevancy-test.git
[submodule "system-int-test"]
	path = system-int-test
	url = git@github.com:nasa-cmr/system-int-test.git
